@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
 

body, html , #root {
    height: 100%;
    width: 100%;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../public/images/balloons.jpg') no-repeat;
    width: 100%;                                                                                    
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0 0 ;
}

h1{
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.7rem;
    line-height: 40px;
}